<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="#Sat Aug 25 15:16:40 CEST 2018&#13;&#10;name=BPEL&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;uri=&#13;&#10;cached=false&#13;&#10;file=/BpelXMLXSD/HandleRequest.bpel&#13;&#10;fileBased=true&#13;&#10;type=PlainXML"/>
<listEntry value="#Sat Aug 25 15:16:56 CEST 2018&#13;&#10;name=WSDL&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;uri=&#13;&#10;cached=false&#13;&#10;file=/BpelXMLXSD/HandleRequestArtifacts.wsdl&#13;&#10;fileBased=true&#13;&#10;type=PlainXML"/>
<listEntry value="#Tue Jun 05 22:28:44 CEST 2018&#13;&#10;name=WSDL2&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;uri=&#13;&#10;cached=false&#13;&#10;file=&#13;&#10;fileBased=false&#13;&#10;type=PlainXML"/>
<listEntry value="#Sat Aug 25 15:17:21 CEST 2018&#13;&#10;name=WSDL1&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;uri=&#13;&#10;cached=false&#13;&#10;file=/BpelXMLXSD/HandleRequestWS.wsdl&#13;&#10;fileBased=true&#13;&#10;type=PlainXML"/>
</listAttribute>
<listAttribute key="parameters"/>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/BpelXMLXSD/main.eol"/>
</launchConfiguration>
